.mat-tab-group {
  margin-bottom: 48px;
}

.grainstatus-h2 {
  margin: 10px;
}

.grainstatus-h3 {
  margin: 10px;
}

.grainstatus-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 50px;
}

.grainstatus-stat {
  display: flex;
  align-content: left;
  align-items: center;
  height: 40px;
}

.grainstatus-margin {
  margin: 0 10px;
}

.grainstatus-action-buttons {
  padding-bottom: 20px;
}

.grainstatus-headers-align .mat-expansion-panel-header-title,
.grainstatus-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.grainstatus-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.grainstatus-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}