<mat-card>
    <mat-card-header>
        <mat-card-title>Grains' status in the mill</mat-card-title>
        <mat-card-subtitle>The total number of grains being processed in the mill: {{totalNumberOfGrains}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        This page has been divided into three sections to display grains' progress in the mill consisting of their
        in-progress, failed and completed statuses.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onReset()">Reset the screen</button>
    </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>
<section class="grainstatus-section">
    <mat-progress-bar mode="indeterminate" *ngIf="startProgressBar"></mat-progress-bar>
</section>
<mat-tab-group mat-align-tabs="center">
    <mat-tab>
        <ng-template matTabLabel>
            <span matBadge="{{inProgressGrains.length}}" matBadgeOverlap="false" matBadgeColor="primary">In-progress grains</span>
        </ng-template>
        <mat-accordion class="grainstatus-headers-align" multi>
            <mat-card *ngIf="inProgressGrains.length === 0">Nothing is in progress right now</mat-card>
            <div *ngFor="let inProgressGrain of inProgressGrains.items; last as last">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Stage: {{inProgressGrain.stage}}
                        </mat-panel-title>
                        <mat-panel-description>
                            The grain with the UId of {{inProgressGrain.subjectGrainUId}} is still being processed in the mill
                            <mat-icon>autorenew</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <h4>Stage: {{inProgressGrain.stage}} </h4>
                    <p>Grain UId: {{inProgressGrain.subjectGrainUId}}</p>
                    <p *ngIf="inProgressGrain.response?.message" mat-line>Message: {{inProgressGrain.response?.message}}
                    </p>
                    <p>Result: {{inProgressGrain.resultToDisplay}} </p>
                    <p>Result code: {{inProgressGrain.response.resultCode}} </p>
                </mat-expansion-panel>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </div>
        </mat-accordion>
    </mat-tab>
    <mat-tab>
        <ng-template matTabLabel>
            <span matBadge="{{failedGrains.length}}" matBadgeOverlap="false" matBadgeColor="warn">Failed grains</span>
        </ng-template>
        <mat-accordion class="grainstatus-headers-align" multi>
            <mat-card *ngIf="failedGrains.length === 0">Nothing has failed so far</mat-card>
            <div *ngFor="let failedGrain of failedGrains.items; last as last">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Stage: {{failedGrain.stage}}
                        </mat-panel-title>
                        <mat-panel-description>
                            The grain with the UId of {{failedGrain.subjectGrainUId}} permanently failed in the mill
                            <mat-icon>error</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <h4>Stage: {{failedGrain.stage}} </h4>
                    <p>Grain UId: {{failedGrain.subjectGrainUId}}</p>
                    <p *ngIf="failedGrain.response?.message" mat-line>Message: {{failedGrain.response?.message}}</p>
                    <p>Result: {{failedGrain.resultToDisplay}} </p>
                    <p>Result code: {{failedGrain.response.resultCode}} </p>
                </mat-expansion-panel>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </div>
        </mat-accordion>
    </mat-tab>
    <mat-tab>
        <ng-template matTabLabel>
            <span matBadge="{{completedGrains.length}}" matBadgeOverlap="false" matBadgeColor="accent">Completed grains</span>
        </ng-template>
        <mat-accordion class="grainstatus-headers-align" multi>
            <mat-card *ngIf="completedGrains.length === 0">Nothing has completed so far</mat-card>
            <div *ngFor="let completedGrain of completedGrains.items; last as last">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Stage: {{completedGrain.stage}}
                        </mat-panel-title>
                        <mat-panel-description>
                            The grain with the UId of {{completedGrain.subjectGrainUId}} completed in the mill
                            <mat-icon>check</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <h4>Stage: {{completedGrain.stage}} </h4>
                    <p>Grain UId: {{completedGrain.subjectGrainUId}}</p>
                    <p *ngIf="completedGrain.response?.message" mat-line>Message: {{completedGrain.response?.message}}</p>
                    <p>Result: {{completedGrain.resultToDisplay}} </p>
                    <p>Result code: {{completedGrain.response.resultCode}} </p>
                </mat-expansion-panel>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </div>
        </mat-accordion>
    </mat-tab>
</mat-tab-group>