<mat-card>
    <mat-card-header>
        <mat-card-title>Grains' status in the mill</mat-card-title>
        <mat-card-subtitle>
            An overview of grains' granular progress in the mill
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        This page has been divided into three sections to display grains' progress in the mill consisting of their
        in-progress, failed and completed statuses.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onReset()">Reset the screen</button>
    </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>
<section class="grainstatus-stat">
    <h3 class="grainstatus-h3">The total number of grains being processed in the mill: {{totalNumberOfGrains}}</h3>
</section>
<section class="grainstatus-section">
    <mat-progress-bar mode="indeterminate" *ngIf="startProgressBar"></mat-progress-bar>
</section>
<mat-tab-group mat-align-tabs="center">
    <mat-tab>
        <ng-template matTabLabel>
            <span matBadge="{{begunGrainsBadge}}" matBadgeOverlap="false" matBadgeColor="primary"
                matBadgeSize="medium">Seeded grains</span>
        </ng-template>
        <mat-accordion class="grainstatus-headers-align" multi>
            <mat-card *ngIf="beganGrains.length === 0">No grains have been seeded yet</mat-card>
            <mat-card *ngIf="beganGrains.length > 0">Number of seeded grains: {{beganGrains.length}}</mat-card>
            <div *ngFor="let beganGrain of beganGrains.items; last as last">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span *ngIf="beganGrain.response.isSystemResponse">
                                <mat-icon>cloud</mat-icon>
                            </span>
                            <h4>
                                Grain: {{beganGrain.stage}}
                            </h4>
                        </mat-panel-title>
                        <mat-panel-description>
                            The grain with the UId of {{beganGrain.subjectGrainUId}} has been seeded
                            <mat-icon *ngIf="beganGrain.response.isSystemResponse">cloud</mat-icon>
                            <mat-icon *ngIf="!beganGrain.response.isSystemResponse">developer_mode</mat-icon>

                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Grain UId: {{beganGrain.subjectGrainUId}}</p>
                    <p *ngIf="beganGrain.response?.message" mat-line>Message: {{beganGrain.response?.message}}
                    </p>
                    <p>Result: {{beganGrain.resultToDisplay}}, code = {{beganGrain.response.resultCode}} </p>
                    <p>Response generated time: {{beganGrain.response.responseTimeUTC | date:'full':'GMT'}}</p>
                </mat-expansion-panel>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </div>
        </mat-accordion>
    </mat-tab>
    <mat-tab>
        <ng-template matTabLabel>
            <span matBadge="{{inProgressGrainsBadge}}" matBadgeOverlap="false" matBadgeColor="primary"
                matBadgeSize="medium">In-progress
                grains</span>
        </ng-template>
        <mat-accordion class="grainstatus-headers-align" multi>
            <mat-card *ngIf="inProgressGrains.length === 0">Nothing is in progress right now</mat-card>
            <mat-card *ngIf="inProgressGrains.length > 0">Number of in-progress grains: {{beganGrains.length}}
            </mat-card>
            <div *ngFor="let inProgressGrain of inProgressGrains.items; last as last">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span *ngIf="inProgressGrain.response.isSystemResponse">
                                <mat-icon>cloud</mat-icon>
                            </span>
                            Grain: {{inProgressGrain.stage}}
                        </mat-panel-title>
                        <mat-panel-description>
                            The grain with the UId of {{inProgressGrain.subjectGrainUId}} is still being processed in
                            the mill
                            <mat-icon *ngIf="inProgressGrain.response.isSystemResponse">cloud</mat-icon>
                            <mat-icon *ngIf="!inProgressGrain.response.isSystemResponse">developer_mode</mat-icon>

                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Grain UId: {{inProgressGrain.subjectGrainUId}}</p>
                    <p *ngIf="inProgressGrain.response?.message" mat-line>Message: {{inProgressGrain.response?.message}}
                    </p>
                    <p>Result: {{inProgressGrain.resultToDisplay}}, code = {{inProgressGrain.response.resultCode}} </p>
                    <p>Response generated time: {{inProgressGrain.response.responseTimeUTC | date:'full':'GMT'}}</p>
                </mat-expansion-panel>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </div>
        </mat-accordion>
    </mat-tab>
    <mat-tab>
        <ng-template matTabLabel>
            <span matBadge="{{failedGrainsBadge}}" matBadgeOverlap="false" matBadgeColor="warn"
                matBadgeSize="medium">Failed grains</span>
        </ng-template>
        <mat-accordion class="grainstatus-headers-align" multi>
            <mat-card *ngIf="failedGrains.length === 0">Nothing has failed so far</mat-card>
            <mat-card *ngIf="failedGrains.length > 0">Number of failed grains: {{failedGrains.length}}</mat-card>
            <div *ngFor="let failedGrain of failedGrains.items; last as last">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span *ngIf="failedGrain.response.isSystemResponse">
                                <mat-icon>cloud</mat-icon>
                            </span>
                            Grain: {{failedGrain.stage}}
                        </mat-panel-title>
                        <mat-panel-description>
                            The grain with the UId of {{failedGrain.subjectGrainUId}} permanently failed in the mill
                            <mat-icon *ngIf="failedGrain.response.isSystemResponse">cloud</mat-icon>
                            <mat-icon *ngIf="!failedGrain.response.isSystemResponse">developer_mode</mat-icon>

                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Grain UId: {{failedGrain.subjectGrainUId}}</p>
                    <p *ngIf="failedGrain.response?.message" mat-line>Message: {{failedGrain.response?.message}}</p>
                    <p>Result: {{failedGrain.resultToDisplay}}, code = {{failedGrain.response.resultCode}} </p>
                    <p>Response generated time: {{failedGrain.response.responseTimeUTC | date:'full':'GMT'}}</p>
                </mat-expansion-panel>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </div>
        </mat-accordion>
    </mat-tab>
    <mat-tab>
        <ng-template matTabLabel>
            <span matBadge="{{completedGrainsBadge}}" matBadgeOverlap="false" matBadgeColor="accent"
                matBadgeSize="medium">Completed grains</span>
        </ng-template>
        <mat-accordion class="grainstatus-headers-align" multi>
            <mat-card *ngIf="completedGrains.length === 0">Nothing has completed so far</mat-card>
            <mat-card *ngIf="completedGrains.length > 0">Number of completed grains: {{completedGrains.length}}
            </mat-card>
            <div *ngFor="let completedGrain of completedGrains.items; last as last">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Grain: {{completedGrain.stage}}
                        </mat-panel-title>
                        <mat-panel-description>
                            The grain with the UId of {{completedGrain.subjectGrainUId}} completed in the mill
                            <mat-icon *ngIf="completedGrain.response.isSystemResponse">cloud</mat-icon>
                            <mat-icon *ngIf="!completedGrain.response.isSystemResponse">developer_mode</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Grain UId: {{completedGrain.subjectGrainUId}}</p>
                    <p *ngIf="completedGrain.response?.message" mat-line>Message: {{completedGrain.response?.message}}
                    </p>
                    <p>Result: {{completedGrain.resultToDisplay}}, code = {{completedGrain.response.resultCode}} </p>
                    <p>Response generated time: {{completedGrain.response.responseTimeUTC | date:'full':'GMT'}}</p>
                    <p>System response: {{completedGrain.response.isSystemResponse}}</p>
                </mat-expansion-panel>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </div>
        </mat-accordion>
    </mat-tab>
</mat-tab-group>