<mat-card>
    <mat-card-header>
        <mat-card-title>Grains' status in the mill</mat-card-title>
        <mat-card-subtitle>The total number of grains being processed in the mill: {{totalNumberOfGrains}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        This page has been divided into three sections to display grains' progress in the mill consisting of their
        in-progress,
        failed and completed statuses.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onReset()">Reset the screen</button>
    </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>
<section class="grainstatus-section">
    <mat-progress-bar mode="indeterminate" *ngIf="startProgressBar"></mat-progress-bar>
</section>
<mat-tab-group mat-align-tabs="center">
    <mat-tab>
        <ng-template matTabLabel>
            <span matBadge="{{inProgressGrains.length}}" matBadgeOverlap="false" matBadgeColor="primary">In-progress
                grains</span>
        </ng-template>
        <mat-list>
            <h2 mat-subheader>In-progress grains</h2>
            <mat-list-item *ngFor="let inProgressGrain of inProgressGrains.items; last as last">
                <mat-icon mat-list-icon>autorenew</mat-icon>
                <h4 mat-line>Stage: {{inProgressGrain.stage}} </h4>
                <p mat-line>Grain UId: {{inProgressGrain.subjectGrainUId}}</p>
                <p *ngIf="inProgressGrain.response?.message" mat-line>Message: {{inProgressGrain.response?.message}}
                </p>
                <p mat-line>Result: {{inProgressGrain.resultToDisplay}} </p>
                <p mat-line>Result code: {{inProgressGrain.response.resultCode}} </p>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-tab>
    <mat-tab>
        <ng-template matTabLabel>
            <span matBadge="{{failedGrains.length}}" matBadgeOverlap="false" matBadgeColor="warn">Failed
                grains</span>
        </ng-template>
        <mat-list>
            <h2 mat-subheader>Failed grains</h2>
            <mat-list-item *ngFor="let failedGrain of failedGrains.items; last as last">
                <mat-icon mat-list-icon>error</mat-icon>
                <h4 mat-line>Stage: {{failedGrain.stage}} </h4>
                <p mat-line>Grain UId: {{failedGrain.subjectGrainUId}}</p>
                <p *ngIf="failedGrain.response?.message" mat-line>Message: {{failedGrain.response?.message}} </p>
                <p mat-line>Result: {{failedGrain.resultToDisplay}} </p>
                <p mat-line>Result code: {{failedGrain.response.resultCode}} </p>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-tab>
    <mat-tab>
        <ng-template matTabLabel>
            <span matBadge="{{completedGrains.length}}" matBadgeOverlap="false" matBadgeColor="accent">Completed
                grains</span>
        </ng-template>
        <mat-list>
            <h2 mat-subheader>Completed grains</h2>
            <mat-list-item *ngFor="let finishedGrain of completedGrains.items; last as last">
                <mat-icon mat-list-icon>check</mat-icon>
                <h4 mat-line>Stage: {{finishedGrain.stage}} </h4>
                <p mat-line>Grain UId: {{finishedGrain.subjectGrainUId}}</p>
                <p *ngIf="finishedGrain.response?.message" mat-line>Message: {{finishedGrain.response?.message}} </p>
                <p mat-line>Result: {{finishedGrain.resultToDisplay}} </p>
                <p mat-line>Result code: {{finishedGrain.response.resultCode}} </p>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-tab>
</mat-tab-group>